<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.web.mapper.UserMapper">
    <insert id="insert">
        insert into sys_user(username, password, nickname, phone, salt)
        values (#{username}, #{password}, #{nickname}, #{phone}, #{salt})
    </insert>


    <select id="selectByUserName" parameterType="String" resultType="User">
        select *
        from sys_user
        where username = #{value}
    </select>

    <select id="selectByNickName" parameterType="String" resultType="User">
        select *
        from sys_user
        where nickname = #{value}
    </select>


</mapper>